body{
    background-color: burlywood;
}
.container{
    width:50%;
    margin: auto;
    text-align: center;
}
.dice{
    text-align: center;
    display: inline-block;

}
h1{
    margin: 40px;
    font-family: cursive;
    font-size: 4rem;
    color: cadetblue;
}
p{
    font-size: 2rem;
    color: green;
    font-family: cursive;
}
img{
    width: 50%;
}
footer{
    font-family: serif;
    color: red;
    text-align: center;
}
button{
    color: red;
    border-radius: 20px;
    border: none;
    background-color: purple;
}